<a href="https://colab.research.google.com/github/electricalengineer173/AI-Q2-learning-resources/blob/master/DeepL_Part2_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Description of the data
The file "Spotify.csv" contains the following 18 columns:

• **ID** : unique identifier of the piece

• **Artists** : artists who participated in the piece

• **Title** : pulls the piece

• **Duration**: duration of the song in milliseconds

• **Year** : year of release of the song

• **Valence**: a measure from 0.0 to 1.0 describing the musical positivity conveyed by a song. High
valence songs sound more positive (e.g. happy, joyful, euphoric), while low valence songs sound
more negative (e.g. sad, depressed, angry)

• **Acoustics**: a confidence measure from 0.0 to 1.0 of the acoustics of the piece. The value 1.0
represents a high level of confidence that the piece is acoustic

• **Danceability**: ability of a piece to be danced according to a combination of musical elements. The
value 0.0 is the least danceable and the value 1.0 is the most danceable

• **Energy**: a measure of 0.0 to 1.0 which represents a measure of activity. In general, the energetic
pieces are fast and noisy

• **Explicit**: indicates whether the lyrics contain explicit content or not

• **Instrumental**: confidence measure from 0.0 to 1.0 related to the vocal. The closer the value is to
1.0, the more likely it is that the song does not contain any vocal content

• **Tone**: the estimated overall tone of the song

• **Direct**: detects the presence of an audience in the recording. Higher values represent a higher
probability that the song was played in front of an audience

• **Intensity**: the overall sound intensity of a piece in decibels (dB). The values of the sound intensity
are calculated as an average over the whole piece

• **Mode**: the mode indicates the modality (major or minor) of a piece, the type of scale from which
its melodic content is derived

• **Speech** : Speech detects the presence of spoken words in a piece. The more the recording is
exclusively vocal (e.g. talk show, audio book, poetry), the closer the value of the attribute is to 1.0

• **Tempo**: the estimated global tempo of a song in beats per minute

• **Popularity**: The popularity of a track is a value between 0 and 100, with 100 being the most
popular. Popularity is calculated by Spotify and is based, in large part, on the total number of plays
of the track and how recent they are.

In [1]:
# Importing libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1) **Discuss 4 Findings related to the variable "Popularty" with  graphs deemed relevant**

In [2]:
# loading Data into df
df = pd.read_csv("Spotify.csv",sep=',')

In [3]:
#determining shape ==>(rows,column)
df.shape

(170653, 18)

In [4]:
#df.head()

In [5]:
#Checking info of dataframe such as number of columns and their data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            170653 non-null  object
 1   Artistes      170653 non-null  object
 2   Titre         170653 non-null  object
 3   Durée         170653 non-null  int64
 4   Année         170653 non-null  int64
 5   Valence       165971 non-null  float64
 6   Acoustique    167095 non-null  float64
 7   Dansant       166933 non-null  float64
 8   Énergie       165954 non-null  float64
 9   Explicite     162402 non-null  object
 10  Instrumental  168759 non-null  float64
 11  Tonalité      163035 non-null  float64
 12  Direct        170002 non-null  float64
 13  Intensité     163201 non-null  float64
 14  Mode          170565 non-null  object
 15  Discours      164072 non-null  float64
 16  Tempo         170653 non-null  float64
 17  Popularité    170653 non-null  int64
dtypes: float64(10), int64(3), object(5)
memory usage: 23.4+ MB

In [6]:
# Checking NA values of each column
df.isna().sum()

ID                 0
Artistes           0
Titre              0
Durée              0
Année              0
Valence         4682
Acoustique      3558
Dansant         3720
Énergie         4699
Explicite       8251
Instrumental    1894
Tonalité        7618
Direct           651
Intensité       7452
Mode              88
Discours        6581
Tempo              0
Popularité         0
dtype: int64

In [7]:
# checking the sum of total NA values
df.isna().sum().sum()

49194

In [8]:
#df.describe()

In [9]:
# removing  NA values from df
df = df.dropna()

In [10]:
#Checking shape after th eremoval of NA values
df.shape

(127175, 18)

In [11]:
#replacing Oui with 1 and Non wih 0
df["Explicite"] = df["Explicite"].map({'Oui':1,'Non':0})

#replacing Majeur with 1 and Mineur wih 0
df["Mode"] = df["Mode"].map({'Majeur':1,'Mineur':0})

In [12]:
# Checking fiest 2 rows of df
df.head(2)

                       ID  ... Popularité
0  4BJqT0PrAfrxzMOxytFOIz  ...          4
2  1o6I8BglA6ylDMrIELygv1  ...          5

[2 rows x 18 columns]

In [13]:
# cheking data types of each column in df(loaded Spotify.csv file)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127175 entries, 0 to 170652
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            127175 non-null  object
 1   Artistes      127175 non-null  object
 2   Titre         127175 non-null  object
 3   Durée         127175 non-null  int64
 4   Année         127175 non-null  int64
 5   Valence       127175 non-null  float64
 6   Acoustique    127175 non-null  float64
 7   Dansant       127175 non-null  float64
 8   Énergie       127175 non-null  float64
 9   Explicite     127175 non-null  int64
 10  Instrumental  127175 non-null  float64
 11  Tonalité      127175 non-null  float64
 12  Direct        127175 non-null  float64
 13  Intensité     127175 non-null  float64
 14  Mode          127175 non-null  int64
 15  Discours      127175 non-null  float64
 16  Tempo         127175 non-null  float64
 17  Popularité    127175 non-null  int64
dtypes: float64(10), int64(5), object(3)
memory usage: 18.4+ MB

In [14]:
#df important calculations
df.describe()

              Durée          Année  ...          Tempo     Popularité
count  1.271750e+05  127175.000000  ...  127175.000000  127175.000000
mean   2.308640e+05    1976.815058  ...     116.852930      31.448524
std    1.260632e+05      25.900823  ...      30.715727      21.805836
min    5.991000e+03    1921.000000  ...       0.000000       0.000000
25%    1.698005e+05    1956.000000  ...      93.334000      11.000000
50%    2.074270e+05    1978.000000  ...     114.714000      33.000000
75%    2.622130e+05    1999.000000  ...     135.568000      48.000000
max    5.403500e+06    2020.000000  ...     243.507000      99.000000

[8 rows x 15 columns]

In [ ]:
# assiging Anee column of df to x
x = df['Année']

# assiging Popularité column of df to y
y = df['Popularité']

# Change the size of the figure (in inches).
plt.figure(figsize=(17,6)) 

# Bar plot for Popularité over year
plt.bar(x, y, label = 'Popularité', color = 'dodgerblue',  width = 1, align = 'center', alpha = 0.7)

# X-axis label.
plt.xlabel('Année', fontsize = 16)

# Y-axis label.
plt.ylabel('Popularité', fontsize = 16)

# Title of the plot.
plt.title('Popularité \n1921 and 2020', fontsize = 16)

# plt.grid(True)
plt.grid(axis='y')

# Legend for the plot.
plt.legend()

In [ ]:
# Change the size of the figure (in inches).
plt.figure(figsize=(17,6)) 

x = df.groupby("Artistes")["Popularité"].sum().sort_values(ascending=False).head(10)

# bar plot of top 10 artist Artistes w.r.t Popularité
ax = sns.barplot(x.index,x)

#giving Lable and title
ax.set_title("Top Artistes with Popularité")
ax.set_ylabel("Popularité")
plt.xticks(rotation = 90)

In [ ]:
# Change the size of the figure (in inches).
plt.figure(figsize=(17,6)) 

#data distribution of Popularité (for songs with Popularity more than 90)  against the density distribution. 
sns.distplot(df['Popularité'])

#giving title
plt.title('Popularity Distribution')

In [ ]:
#Mode indicates the modality, major (1) or minor (0) of a track,
#the type of scale from which its melodic content is derived. Since
#a Major mode sounds more cheerful than a Minor mode, it is
#likely that a Major mode is more popularly used in hit songs.


# Change the size of the figure (in inches).
plt.figure(figsize=(17,6)) 

#bar plot based on mode
sns.barplot(x = 'Mode', y = 'Popularité', data = df)

#giving title
plt.title('Popularity Based on Mode')

In [ ]:
#  Change the size of the figure (in inches).
plt.figure(figsize=(17,6)) 

# Separarting the Popularité > 90
pop_90 = df[df.Popularité > 90]

#data distribution of Acoustique (for songs with Popularity more than 90)  against the density distribution. 
sns.distplot(pop_90 ['Acoustique'])

# giving title
plt.title('Acoustique for Songs with More than 90 Popularity')

**2) Develop a predictive model of the variable "Popularity" by discussing the methodology and results.**

In [ ]:
# loading Data into df
df = pd.read_csv("Spotify.csv",sep=',')

In [ ]:
df = df.dropna(subset = ["Popularité"])

In [ ]:
df.nunique()

Categorical variables 
*   ID
*   Artistes
*   Titre

 have a large number of unique values, which did not help  our machine learning model to draw general conclusions.

In [ ]:
# Créez un dataframe nommé "X" qui contient toutes les colonnes ID","Artistes","Titre.
X = df.drop(["ID","Artistes","Titre"], axis = 1)

In [ ]:
# Créez une série nommée "y" qui contient uniquement la colonne des Popularité
df.loc[df['Popularité'] < 57, 'Popularité '] = 0 
df.loc[df['Popularité'] >= 57, 'Popularité '] = 1
df.loc[df['Popularité'] == 1 ]
y = df["Popularité"]

In [ ]:
# Créez une liste qui contient uniquement les noms des colonnes catégorielles du dataframe X
cat_cols = list(X.select_dtypes(include = ["object"]))

print("Les variables catégorielles sont:\n{0}".format(cat_cols))

In [ ]:
# Créez une liste qui contient uniquement les noms des colonnes numériques du dataframe X
num_cols = list(X.select_dtypes(exclude = ["object"]))

print("Les variables numériques sont:\n{0}".format(num_cols))

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
# Créez les deux dataframes (entraînement et validation) X_train_num et X_val_num qui contiennent les colonnes numériques
X_train_num = X_train[num_cols]
X_val_num = X_val[num_cols]

In [ ]:
# Créez les deux dataframes (entraînement et validation) X_train_cat et X_val_cat qui contiennent les colonnes catégorielles
X_train_cat = X_train[cat_cols]
X_val_cat = X_val[cat_cols]

Regarding data transformation, we show you the following processes:
Imputation of missing data, 
Transformation of categorical variables into binary variables, 
Scaling

In [ ]:
index_train = X_train.index
index_val = X_val.index

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
# On trouve la médiane de chaque colonne numérique
imp_num = SimpleImputer(strategy = "median").fit(X_train_num)

# On applique la médiane à chaque valeur manquante des jeux d'entraînement et de validation
X_train_num = imp_num.transform(X_train_num)
X_val_num = imp_num.transform(X_val_num)

# On convertit les arrays obtenus en dataframe en reprenant les mêmes noms de colonnes
X_train_num = pd.DataFrame(X_train_num, columns = num_cols, index = index_train)
X_val_num = pd.DataFrame(X_val_num, columns = num_cols, index = index_val)

In [ ]:
# Préparation de l'imputation
imp_cat = SimpleImputer(strategy = "most_frequent")

# On trouve la modalité la plus fréquente de chaque colonne catégorielle et on l'applique directement
X_train_cat = imp_cat.fit_transform(X_train_cat)
X_val_cat = imp_cat.transform(X_val_cat)

# On convertit les arrays obtenus en dataframe en reprenant les mêmes noms de colonnes
X_train_cat = pd.DataFrame(X_train_cat, columns = cat_cols, index = index_train)
X_val_cat = pd.DataFrame(X_val_cat, columns = cat_cols, index = index_val)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
columnTransformer = ColumnTransformer(
    transformers = [("encoder", OneHotEncoder(drop = "first"), cat_cols)],
    remainder = "passthrough"
)

In [ ]:
X_train_cat = pd.DataFrame(
    columnTransformer.fit_transform(X_train_cat).toarray(),
    columns = columnTransformer.get_feature_names(),
    index = index_train
)

In [ ]:
# Encodez les colonnes catégorielles de l'ensemble de validation X_val_cat
X_val_cat = pd.DataFrame(
    columnTransformer.transform(X_val_cat).toarray(),
    columns = columnTransformer.get_feature_names(),
    index = index_val
)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
X_train = pd.concat([X_train_num, X_train_cat], axis = 1)
X_val = pd.concat([X_val_num, X_val_cat], axis = 1)

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_val = sc.transform(X_val)

#On fit sur entrainement et on transform sur tous les echantillons

X_train

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import make_scorer, accuracy_score, roc_auc_score

In [ ]:
Model = RandomForestClassifier()
Model.fit(X_train, y_train)
y_pred = Model.predict(X_val)
Model_Accuracy = accuracy_score(y_val, Model_Predict)
print("Accuracy: " + str(Model_Accuracy))

In [ ]:
from sklearn.metrics import mean_absolute_error as mae

In [ ]:
erreur = mae(y_val, y_pred)

print("La moyenne absolue des erreurs est de {0}".format(erreur))